:root {
    --primary-brand: #4D5AE5;
    /*iris*/

    --pressed-state: #404BBF;
    /*ocean*/

    --dark: #2E2F42;
    /*navy-blue*/

    --success: #31D0AA;
    /*green*/

    --text-color: #434455;
    /*slate*/

    --subtle-text-color: #8E8F99;
    /*light slate*/

    --accent-color: #E7E9FC;
    /*cornflower*/

    --light: #F4F4FD;
    /*cloud*/

    --white-background: #FFFFFF;
    /*white*/

    --modal-background: #FCFCFC;
    /*dairy*/

    --main-font: 'Roboto', sans-serif;
    --accent-font: 'Raleway', sans-serif;
}

body {
    font-family: var(--main-font);
    color: var(--text-color);
    background-color: var(--white-background);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.list {
    list-style-type: none;
    padding: 0;
}

.link {
    text-decoration: none;
}

.container {
    width: 1128px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

/*----Header----*/
.header {
    background: var(--white-background);
    display: flex;
    border-bottom: 1px solid var(--accent-color);
    flex-shrink: 0;
    margin: 0 auto;
}

.header-logo {
    font-family: var(--accent-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--primary-brand);
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
}

.header-logo-accent {
    color: var(--dark);
}

.header-nav-list {
    font-family: var(--main-font);
    font-weight: 500;
    color: var(--dark);
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
}

.header-nav-link {
    color: var(--dark);
}

.header-nav-link:active,
.header-nav-link:hover,
.header-nav-link:focus,
.header-address-list-item:active,
.header-address-list-item:hover,
.header-address-list-item:focus {
    color: var(--pressed-state);
}

.header-address {
    font-style: normal;
    margin-left: 332px;
}

.header-address-list {
    display: flex;
}

.header-address-list-item {
    color: var(--text-color);
}

/*----1 Main section----*/
.main-section {
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: var(--white-background);
    letter-spacing: 0.02em;

    width: 496px;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0 auto;
    padding-top: 188px;
}

.main-section-button {
    font-family: var(--main-font);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: var(--primary-brand);
    font-weight: 500;
    letter-spacing: 0.04em;
    color: var(--white-background);
    cursor: pointer;

    /* display: inline-flex; */
    padding: 16px 32px;
    width: 177px;
    margin: 48px auto 188px;
}

.main-section-button:hover,
.main-section-button:focus,
.main-section-button:active {
    background: var(--pressed-state);
    cursor: pointer;
}

/*----2 Section principles----*/
.principles {
    background-color: var(--white-background);
    margin: 120px auto 0;
    width: 1128px;
}

.principles-title {
    color: var(--white-background);
    letter-spacing: 0.02em;
}

.principles-list {
    display: flex;
}

.principles-list-item {
    width: 264px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.principles-list-item:not(:first-child) {
    margin-left: 24px;
}

.principles-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: var(--dark);
    width: 264px;
}

.principles-text {
    color: var(--text-color);
    font-size: 16px;
    font-family: var(--main-font);
    line-height: 1.5em;
    letter-spacing: 0.32px;
    width: 264px;
}

/*----3 Products section----*/
.products {
    background-color: var(--white-background);
    margin-top: 120px;
    padding-bottom: 120px;
}

.products-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
    margin: 0 auto 112px;
}

.products-list {
    display: flex;
}

.principles-list-item {
    display: flex;
    flex-direction: column;
}

.products-list-item:not(:first-child) {
    margin-left: 24px;
}

/*----4 Our team section----*/
.team-section {
    background-color: var(--light);
    padding-top: 120px;
    padding-bottom: 120px;
    margin: 0 auto;
}

.team-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--dark);
    margin-bottom: 72px;
}

.team-section-list {
    display: flex;
}

.team-list-item {
    background: var(--white-background);
}

.team-list-item:not(:first-child) {
    margin-left: 24px;
}

.employee-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark);
}

.position {
    text-align: center;
    color: var(--text-color);
}

/*----Footer----*/
.footer {
    background-color: var(--dark);
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 156px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    width: 264px;
}

.footer-link {
    font-family: var(--accent-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--primary-brand);
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.footer-logo-accent {
    color: var(--light);
}

.footer-text {
    color: var(--light);
}

/* ----Portfolio.html---- */
/* filters section */
.filter-button {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--primary-brand);
    background: var(--light);
    border: 1px solid var(--accent-color);
    cursor: pointer;
}

.filter-button:active,
.filter-button:hover,
.filter-button:focus {
    background: var(--pressed-state);
    color: var(--white-background);
}

/* ----products-portfolio section---- */
.product-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
}

.product-type {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.products-portfolio-list-item {
    background: var(--white-background);
    border: 1px solid var(--accent-color);
}